.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
}

.input-label {
    margin-bottom: 0.2rem;
    color: var(--font-primary-color);
    text-transform: capitalize;
    width: 100%;
}

.input-field {
    background-color: white;
    border-style: none;
    min-width: 150px;
    min-height: 2.5rem;
    max-height: 3rem;
    padding: 0.7rem;
}
.input-field--withicon {
    padding-left: 2rem;
    background-color: var(--cl-light-grey);
}
.input-field--file {
    background-color: var(--cl-primary);
    color: white;
}
.input-field--error {
    box-shadow: 0 2px var(--cl-danger);
}
.input-error {
    font-size: 0.8em;
    color: var(--cl-danger);
    font-style: italic;
    text-transform: lowercase;
}

.button {
    padding: 0.8rem 2.5rem;
    border-radius: 10000px;
    border: 2px solid var(--bg);
    color: var(--fg);
    background-color: var(--bg);
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    font-weight: 600;
    transition: all 0.2s;
    min-width: 10rem;
    font-size: 1.1rem;
    max-height: 3rem;
}
.button:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.button--sm {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    min-width: 6rem;
}
.button--loading {
    min-height: 3rem;
    padding: 0.2rem;
    cursor: not-allowed;
}
.button--loading:hover {
    background-color: var(--bg);
    color: var(--fg);
}
.button--file:hover {
    background-color: white;
    color: var(--cl-primary);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--cl-primary);
}

.button--file {
    background-color: var(--cl-primary);
    color: white;
    border-color: var(--cl-primary);
}
.button--status {
    border-color: var(--cl-submitted);
    border-radius: 1000px;
    background-color: white;
    padding: 0.5rem 1rem;
}
.button--status:hover {
    color: white;
    background-color: var(--cl-submitted);
}

table {
    width: 100%;
    margin-top: 1.5rem;
    border-collapse: collapse;
    text-transform: capitalize;
    filter: var(--ut-shadow);
}

thead {
    background-color: var(--cl-primary);
    color: white;
    text-align: left;
}

.table-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-header-button {
    height: 2rem;
    min-width: 2rem;
    padding: 0;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-image: url("./downarrow.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cl-primary);
    border: none;
    cursor: pointer;
}
.table-header-button:hover {
    filter: brightness(1.3);
}
.table-header-button--selected {
    filter: brightness(1.5);
}

tbody {
    background-color: white;
}

th {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: none;
}

td {
    padding: 0.5rem 1rem;
    margin: 0;
}

tr {
    border-top: 1px solid var(--cl-light-grey);
}

.error {
    color: var(--cl-danger);
    font-style: italic;
    font-weight: 800;
    font-size: 1.3rem;
}

.error--success {
    color: var(--cl-light-green);
}
