.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.container--inner {
    max-width: 900px;
    margin: auto;
    min-height: 60vh;
}

.flow > * + * {
    margin-top: 2rem;
}
.flow:first-child {
    margin-top: 3rem;
}

.space {
    display: flex;
}
.space > * + * {
    margin-left: 1rem;
}