.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.container--inner {
    max-width: 900px;
    margin: auto;
    min-height: 60vh;
}

.flow {
    display: flex;
    flex-direction: column;
}
.flow > * + * {
    margin-top: 2rem;
}
.flow:first-child {
    margin-top: 3rem;
}
.flow--between {
    margin: 0;
    justify-content: space-between;
}
.flow--gap > * + * {
    margin-top: var(--gap);
}

.space {
    display: flex;
}
.space > * + * {
    margin: 1rem 0 0 0;
}

@media (min-width: 500px) {
    .space > * + * {
        margin: 0 0 0 1rem;
    }
}
